* {
  font-family: 'Baloo Paaji 2', cursive;
}

.about {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.about > h1 {
  color: #FD607C;
  font-size: 45px;
  font-weight: 900;
  text-align: center;
}

.about > p {
  text-align: center;
}

.question {
  color: #FD607C;
  font-weight: bold;
}

.buttons {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
}

.landing-adopt {
  background-color: #5945BC;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 40px;
}

.landing-adopt:hover {
  background-color: #A2C1ED;
  transition: .25s;
}

/*
#5945BC 
#FD607C
#A2C1ED
*/

@media screen and (min-width: 700px) {
  .about > p {
    margin-left: 25%;
    margin-right: 25%;
  }
}